.m-intrograph {
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
  padding: 50px;
  color: white;
  position: relative;

  &__container {
    display: flex;
    margin-top: 60px;

    @media (max-width: 900px) {
      display: block;
    }
  }

  &__column {
    width: 50%;

    @media (max-width: 900px) {
      width: 100%;
    }

    img {
      height: 600px;
      margin: 0 auto;
      display: block;
    }
  }

  h2 {
    font-size: 64px;
    font-family: CryptCreep;
    font-weight: 100;
    margin: 0;

    @media (max-width: 600px) {
      font-size: 40px;
    }
  }

  p {
    font-size: 24px;

    @media (max-width: 600px) {
      font-size: 18px;
    }
  }

  button {
    background-color: white;
    outline: none;
    border: none;
    border-radius: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    font-weight: 600;
    width: 200px;
    height: 60px;
    color: #053849;
    font-size: 20px;
    cursor: pointer;

    &:hover, &:focus {
      background-color: rgba(255, 255, 255, 0.5);
    }
  }
}