.m-introanimation {
  height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  padding: 50px;
  display: flex;
  color: white;
  position: relative;

  @media (max-width: 1400px) {
    display: block;
  }

  button {
    background-color: white;
    outline: none;
    border: none;
    border-radius: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    font-weight: 600;
    width: 180px;
    height: 60px;
    color: #053849;
    font-size: 20px;
    cursor: pointer;

    &:hover, &:focus {
      background-color: rgba(255, 255, 255, 0.5);
    }
  }

  h2 {
    font-size: 128px;
    font-family: CryptCreep;
    font-weight: 100;
    line-height: .8;
    margin: 0;
  }

  p {
    font-size: 24px;
  }

  &__text {
    width: 30%;

    @media (max-width: 1400px) {
      width: 100%;
    }
  }

  &__visuals {
    width: 70%;

    @media (max-width: 1400px) {
      display: none;
    }
  }

  &__tree {
    position: absolute;
    right: 400px;
    top: 0;
    width: 500px;
  }

  &__person {
    position: absolute;
    right: 0;
    top: 400px;
    width: 200px;
    transform: translateX(100vw);
    transition: transform 1s ease-in-out;

    &--active {
      transform: translateX(0);
    }
  }

  &__co2 {
    position: absolute;
    right: 200px;
    top: 400px;
    width: 150px;
    transform: translateX(100vw);
    transition: transform 1.5s ease-in-out;

    &--active {
      transform: translateX(0);
    }
  }

  &__magnify-leaf {
    position: absolute;
    right: 500px;
    top: 200px;
    width: 150px;
    transform: translateX(100vw);
    transition: transform 1s ease-in-out;

    &--active {
      transform: translateX(0);
    }
  }

  &__sun {
    position: absolute;
    right: 50px;
    top: 0;
    width: 200px;
    transform: translateX(100vw);
    transition: transform 1s ease-in-out;

    &--active {
      transform: translateX(0);
    }
  }

  &__sunbeams {
    position: absolute;
    right: 150px;
    top: 100px;
    width: 200px;
    transform: translateX(100vw);
    transition: transform 1.5s ease-in-out;

    &--active {
      transform: translateX(0);
    }
  }

  &__drops {
    position: absolute;
    right: 550px;
    top: 600px;
    width: 200px;
    transform: translateX(100vw);
    transition: transform 1s ease-in-out;

    &--active {
      transform: translateX(0);
    }
  }

  &__oxygen {
    position: absolute;
    right: 270px;
    top: 30px;
    width: 200px;
    transform: translate(-200px, 100px);
    opacity: 0;
    transition: all 1s ease-in-out;

    &--active {
      transform: translate(0, 0);
      opacity: 1;
    }
  }
}