.m-intro {
  background: #053849;
  color: white;

  &__planet {
    height: 100vh;
    padding: 100px;
    transform: translateX(0);
    transition: transform 1s ease-in-out;

    &--clickable {
      cursor: pointer;
    }

    .logo {
      height: 20vh;
      max-height: 150px;
      margin: 0 auto;
      display: block;
    }

    .planet {
      height: 50vh;
      margin: 10vh auto 0;
      display: block;
      animation: animatePlanet 1.5s ease-in-out infinite alternate;
    }
  }

  &__info {
    height: 100vh;
    max-width: 1440px;
    margin: 0 auto;
    padding: 50px;

    h2 {
      font-size: 128px;
      font-family: CryptCreep;
      font-weight: 100;
    }

    p {
      font-size: 24px;
    }
  }

  &__sideplanet {
    width: 20vw;
    position: fixed;
    left: -1000px;
    top: 250px;
    transition: left 1s ease-in-out;
    animation: animatePlanet 1.5s ease-in-out infinite alternate;
  
    &--active {
      left: -10vw;
    }
  }

  .hide {
    transform: translateX(-100vw);
  }

  .zoom {
    transform: scale(100);
  }

  @keyframes animatePlanet {
    from {
      transform: translateY(-10px);
    }
    to {
      transform: translateY(10px)
    }
  }
}