.m-map {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  image:hover {
    cursor: pointer;
  }

  &__register-button {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 240px;
    height: 60px;
    border-radius: 16px;
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    background-color: $darkgreen;
    cursor: pointer;

    &:hover {
      background-color: rgba(81, 114, 70, 0.892);
    }
  }

  &__tooltip {
    position: fixed;
    top: -100vh;
    left: 50%;
    transform: translateX(-50%);
    background-color: $darkgreen;
    width: 500px;
    height: 200px;
    transition: top 500ms ease-in-out;
    padding: 20px;
    border-radius: 30px;

    &--active {
      top: 200px;
    }

    h2 {
      color: white;
      font-family: CryptCreep;
      font-size: 48px;
      font-weight: 100;
      margin: 0;
    }

    p {
      color: white;
      margin: 0 0 15px;
    }
  }
}