.m-register {
  width: 100vw;
  height: 100vh;
  background-color: $darkgreen;
  overflow-y: auto;

  &__container {
    max-width: 1200px;
    padding: 64px 64px 12px;
    margin: 0 auto;
    color: white;

    &--flex {
      display: flex;

      @media (max-width: 1000px) {
        display: block;
      }
    }
  }

  &__button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 32px 50px 0;

    @media (max-width: 1000px) {
      padding: 32px 0 0;
    }

    button {
      background-color: rgb(81, 114, 70);
      outline: none;
      border: none;
      border-radius: 10px;
      margin-left: 20px;
      font-weight: 600;
      width: 180px;
      height: 60px;
      color: white;
      font-size: 20px;

      &:hover, &:focus {
        background-color: rgba(81, 114, 70, 0.529);
      }
    }
  }

  &__column {
    width: 50%;
    max-width: 900px;
    padding: 50px;
    margin: 0 auto;

    @media (max-width: 1000px) {
      width: 100%;
      padding: 0;
    }
  }

  h1 {
    font-size: 64px;
    font-family: CryptCreep;
    font-weight: 100;
    text-align: center;
    margin: 24px 0 0 0;
  }

  p {
    font-size: 18px;
  }

  label {
    display: block;
    font-size: 18px;
    margin-top: 20px;

    input {
      margin-right: 10px;

      &[type=text] {
        display: block;
        margin: 6px 0 12px 0;
        padding: 0 10px;
        width: 50%;
        height: 38px;
        border-radius: 10px;
        outline: none;

        @media (max-width: 1400px) {
          width: 100%;
        }
      }
      
      &[type=file] {
        display: block;
        margin: 6px 0 12px 0;
      }
    }

    textarea {
      display: block;
      width: 100%;
      border-radius: 10px;
      padding: 10px;
      margin-top: 6px;
      outline: none;
    }
  }
}