/* -------------------------------------------------------------------------- */
/*                                  Normalize                                 */
/* -------------------------------------------------------------------------- */
@import './vendor/normalize';

/* -------------------------------------------------------------------------- */
/*                                   Global                                   */
/* -------------------------------------------------------------------------- */
@import './global/fonts';
@import './global/variables';
@import './global/mixins';
@import './global/base';
@import './global/global';

/* -------------------------------------------------------------------------- */
/*                                  Elements                                  */
/* -------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------- */
/*                                   Modules                                  */
/* -------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------- */
/*                                    Pages                                   */
/* -------------------------------------------------------------------------- */

#root {
  width: 100vw;
  height: 100vh;
  background-color: $green;
  color: white;
}

h1 {
  margin: 0;
}

.district {
  pointer-events: none;
  fill: none;
  stroke: white;
  stroke-width: 1;
}