/* -------------------------------------------------------------------------- */
/*                                  Normalize                                 */
/* -------------------------------------------------------------------------- */
@import './vendor/normalize';

/* -------------------------------------------------------------------------- */
/*                                   Global                                   */
/* -------------------------------------------------------------------------- */
@import './global/fonts';
@import './global/variables';
@import './global/mixins';
@import './global/base';
@import './global/global';

/* -------------------------------------------------------------------------- */
/*                                  Elements                                  */
/* -------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------- */
/*                                   Modules                                  */
/* -------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------- */
/*                                    Pages                                   */
/* -------------------------------------------------------------------------- */

#root {
  width: 100vw;
  height: 100vh;
  background: black;
  background: linear-gradient(45deg, rgb(50,50,50) 0%, rgb(0,0,0) 100%);
}

.countries {
  fill: #6CCC00;
  stroke: #fff;
  stroke-width: .5px;
}

.sphere {
  margin: 100px;
  background: rgb(0,148,247);
  background: linear-gradient(0deg, rgba(0,96,162,1) 0%, rgba(0,148,247,1) 100%);
  border-radius: 50%;
}

.map {
  background-color: #90B0A1;
}

.lightbox {
  position: fixed;
  top: 100px;
  right: 100px;
  width: 500px;
  height: 500px;
  background-color: $darkgreen;
  color: white;
  padding: 10px 25px;

  img {
    width: 100px;
    margin: 20px 0;
    display: block;
  }
}