/* -------------------------------------------------------------------------- */
/*                                  Normalize                                 */
/* -------------------------------------------------------------------------- */
@import './vendor/normalize';

/* -------------------------------------------------------------------------- */
/*                                   Global                                   */
/* -------------------------------------------------------------------------- */
@import './global/fonts';
@import './global/variables';
@import './global/mixins';
@import './global/base';
@import './global/global';

/* -------------------------------------------------------------------------- */
/*                                  Elements                                  */
/* -------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------- */
/*                                   Modules                                  */
/* -------------------------------------------------------------------------- */
@import './modules/m-intro';

/* -------------------------------------------------------------------------- */
/*                                    Pages                                   */
/* -------------------------------------------------------------------------- */

#root {
  width: 100vw;
  height: 100vh;
}

.map {
  background-color: #90B0A1;
}

.lightbox {
  position: fixed;
  top: 100px;
  right: 100px;
  width: 500px;
  height: 500px;
  background-color: $darkgreen;
  color: white;
  padding: 10px 25px;

  img {
    width: 100px;
    margin: 20px 0;
    display: block;
  }
}